# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []
countries = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    country = citipy.nearest_city(lat_lng[0], lat_lng[1]).country_code
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
        countries.append(country)

# Print the city count to confirm sufficient count
len(cities)

608

In [3]:
# Create a data frame from cities list
cities_dict = {
    "city": cities,
    "country": countries
    }

weather_df = pd.DataFrame(cities_dict)

# Add columns
weather_df["id"] = ""
weather_df["latitude"] = ""
weather_df["longitude"] = ""
weather_df["temperature"] = ""
weather_df["humidity"] = ""
weather_df["cloudiness"] = ""
weather_df["wind_speed"] = ""
weather_df["date"] = ""

weather_df.head()

,city,country,id,latitude,longitude,temperature,humidity,cloudiness,wind_speed,date
0,hermanus,za,,,,,,,,
1,samalaeulu,ws,,,,,,,,
2,south yuba city,us,,,,,,,,
3,hithadhoo,mv,,,,,,,,
4,bluff,nz,,,,,,,,

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [7]:
# create a params dict that will be updated with new city each iteration
units = "imperial"

params = {
    'appid': api_key,
    'units': units
}

# Loop through weather_df and run a data search for each city
for index, row in weather_df.iterrows():
    base_url = "https://api.openweathermap.org/data/2.5/weather"

    city = row['city']
    country = row['country']

    # update address key value
    params['q'] = f"{city},{country}"

    # make request
    weather_response = requests.get(base_url, params)
    
    # print the weather_response url, avoid doing for public github repos in order to avoid exposing key
    # print(weather_response.url)
    
    # convert to json
    weather_response = weather_response.json()

    # pull data from api
    try:
        weather_df.loc[index, "id"] = weather_response['id']
        weather_df.loc[index, "latitude"] = weather_response['coord']['lat']
        weather_df.loc[index, "longitude"] = weather_response['coord']['lon']
        weather_df.loc[index, "temperature"] = weather_response['main']['temp']
        weather_df.loc[index, "humidity"] = weather_response['main']['humidity']
        weather_df.loc[index, "cloudiness"] = weather_response['clouds']['all']
        weather_df.loc[index, "wind_speed"] = weather_response['wind']['speed']
        weather_df.loc[index, "date"] = weather_response['dt']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

#     break

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,city,country,id,latitude,longitude,temperature,humidity,cloudiness,wind_speed,date
0,hermanus,za,3366880,-34.42,19.24,90,34,8,4,1553346906
1,samalaeulu,ws,,,,,,,,
2,south yuba city,us,5397851,39.12,-121.64,47.71,100,90,2.59,1553347446
3,hithadhoo,mv,1282256,-0.6,73.08,86.96,100,8,3.6,1553347389
4,bluff,nz,2206939,-46.6,168.33,59,85,36,8.19,1553347206
5,lagos,pt,2267226,37.1,-8.67,69.08,42,0,16.11,1553347391
6,banda aceh,id,1215502,5.56,95.32,83.99,68,48,3.27,1553347252
7,san juan del sur,ni,3616726,11.25,-85.87,77,65,0,22.06,1553346000
8,niquero,cu,3545981,20.04,-77.58,73.01,100,0,8.41,1553347477
9,hilo,us,5855927,19.71,-155.08,65.19,88,20,13.67,1553347432

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [8]:
# Visualize dataframe
weather_df.head(20)

,city,country,id,latitude,longitude,temperature,humidity,cloudiness,wind_speed,date
0,hermanus,za,3366880,-34.42,19.24,90,34,8,4,1553346906
1,samalaeulu,ws,,,,,,,,
2,south yuba city,us,5397851,39.12,-121.64,47.71,100,90,2.59,1553347446
3,hithadhoo,mv,1282256,-0.6,73.08,86.96,100,8,3.6,1553347389
4,bluff,nz,2206939,-46.6,168.33,59,85,36,8.19,1553347206
5,lagos,pt,2267226,37.1,-8.67,69.08,42,0,16.11,1553347391
6,banda aceh,id,1215502,5.56,95.32,83.99,68,48,3.27,1553347252
7,san juan del sur,ni,3616726,11.25,-85.87,77,65,0,22.06,1553346000
8,niquero,cu,3545981,20.04,-77.58,73.01,100,0,8.41,1553347477
9,hilo,us,5855927,19.71,-155.08,65.19,88,20,13.67,1553347432
10,cape town,za,3369157,-33.93,18.42,83.93,39,0,11.41,1553347090
11,kakogawa,jp,1860704,34.79,134.85,37.67,70,20,2.24,1553347422
12,ushuaia,ar,3833367,-54.81,-68.31,46.11,87,90,3.6,1553342400
13,burica,pa,,,,,,,,
14,yumen,cn,1528998,40.29,97.04,38.99,40,0,11.43,1553347480
15,mar del plata,ar,3863379,-46.43,-67.52,56,79,100,19.71,1553347480
16,tuktoyaktuk,ca,6170031,69.44,-133.03,1.4,70,75,24.16,1553346000
17,puerto ayora,ec,3652764,-0.74,-90.35,78.12,88,75,5.82,1553346984
18,margate,za,978895,-30.86,30.37,76.7,91,20,23.4,1553347362
19,mataura,pf,,,,,,,,

In [10]:
# Eliminate rows with blanks
weather_clean = weather_df.dropna()
weather_clean.head(20)

,city,country,id,latitude,longitude,temperature,humidity,cloudiness,wind_speed,date
0,hermanus,za,3366880,-34.42,19.24,90,34,8,4,1553346906
1,samalaeulu,ws,,,,,,,,
2,south yuba city,us,5397851,39.12,-121.64,47.71,100,90,2.59,1553347446
3,hithadhoo,mv,1282256,-0.6,73.08,86.96,100,8,3.6,1553347389
4,bluff,nz,2206939,-46.6,168.33,59,85,36,8.19,1553347206
5,lagos,pt,2267226,37.1,-8.67,69.08,42,0,16.11,1553347391
6,banda aceh,id,1215502,5.56,95.32,83.99,68,48,3.27,1553347252
7,san juan del sur,ni,3616726,11.25,-85.87,77,65,0,22.06,1553346000
8,niquero,cu,3545981,20.04,-77.58,73.01,100,0,8.41,1553347477
9,hilo,us,5855927,19.71,-155.08,65.19,88,20,13.67,1553347432
10,cape town,za,3369157,-33.93,18.42,83.93,39,0,11.41,1553347090
11,kakogawa,jp,1860704,34.79,134.85,37.67,70,20,2.24,1553347422
12,ushuaia,ar,3833367,-54.81,-68.31,46.11,87,90,3.6,1553342400
13,burica,pa,,,,,,,,
14,yumen,cn,1528998,40.29,97.04,38.99,40,0,11.43,1553347480
15,mar del plata,ar,3863379,-46.43,-67.52,56,79,100,19.71,1553347480
16,tuktoyaktuk,ca,6170031,69.44,-133.03,1.4,70,75,24.16,1553346000
17,puerto ayora,ec,3652764,-0.74,-90.35,78.12,88,75,5.82,1553346984
18,margate,za,978895,-30.86,30.37,76.7,91,20,23.4,1553347362
19,mataura,pf,,,,,,,,

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot